{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>

<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>leemysw</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/aboutme.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/hr.css' %}">
</head>
<body>

<div class="outer-container">
    <header class="site-header">
        <div class="top-header-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 flex align-items-center">
                        <div class="header-bar-text d-none d-lg-block">
                            <p>Hello world, My name is <a href="https://github.com/leemysw">leemysw</a></p>
                        </div><!-- .header-bar-text -->

                        <div class="header-bar-email d-none d-lg-block">
                            <a href="mailto:leemysw@gmail.com">leemysw@gmail.com</a>
                        </div><!-- .header-bar-email -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-6 flex justify-content-between justify-content-lg-end align-items-center">
                        <div class="header-bar-social d-none d-md-block">
                            <ul class="flex align-items-center">
                                <li><a href="https://github.com/leemysw"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="mailto:leemysw@gmail.com"><i class="fa fa-google"></i></a></li>
                            </ul>
                        </div><!-- .header-bar-social -->

                        <div class="header-bar-search d-none d-md-block">
                            <form action='{% url 'blog_search' %}' method="get" role="search" id="searchform"
                                  class="input-group">
                                {% csrf_token %}
                                <input name="q" type="search" placeholder="Search" class="form-control" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </span>
                            </form>
                        </div><!-- .header-bar-search -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .top-header-bar -->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-branding flex flex-column align-items-center">
                        <h1 class="site-title"><a href="/" rel="home">leemysw</a></h1>
                        <p class="site-description">About Me</p>
                    </div><!-- .site-branding -->
                    <nav class="site-navigation">
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->

                        <ul class="flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
                            <li class="current-menu-item"><a href="/">Home</a></li>
                            <li><a href="{% url 'blog_list' %} ">blog</a></li>
                            <li><a href="{% url 'about_me' %}">about me</a></li>
                            <li><a href="{% url 'about_me' %}">Contact</a></li>
                        </ul>

                        <div class="header-bar-social d-md-none">
                            <ul class="flex justify-content-center align-items-center">
                                <li><a href="https://github.com/leemysw"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="mailto:leemysw@gmail.com"><i class="fa fa-google"></i></a></li>
                            </ul>
                        </div><!-- .header-bar-social -->

                        <div class="header-bar-search d-md-none">
                            <form action='{% url 'blog_search' %}' method="get" role="search" id="searchform"
                                  class="input-group">
                                {% csrf_token %}
                                <input name="q" type="search" placeholder="Search" class="form-control" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </span>
                            </form>
                        </div><!-- .header-bar-search -->
                    </nav><!-- .site-navigation -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </header><!-- .site-header -->
    <hr class="style14"/>
</div><!-- .outer-container -->

<div class="content">
    <div class="container">
        <div class="row justify-content-center align-content-lg-center" style="text-align: center">
            <p>>一个什么都想学的伪coder&#60;</p>


        </div>
        <ul class="list-group">
            <li class=" list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                <a class="fa_color2"><i class="  fa fa-spinner fa-pulse fa-3\ fa-fw"> </i></a>
                <a class="fa_color2"><i class=" fa fa-spinner fa-pulse fa-3\ fa-fw"></i></a>
                <a class="fa_color3"><i class=" fa fa-spinner fa-pulse fa-3\ fa-fw"></i></a>
                <a class="fa_color4"><i class=" fa fa-spinner fa-pulse fa-3\ fa-fw"></i></a>
                <a class="fa_color5"><i class=" fa fa-spinner fa-pulse fa-3\ fa-fw"></i></a>
                <a class="fa_color6"><i class=" fa fa-spinner fa-pulse fa-3\ fa-fw"></i></a>
                <a class="fa_color7"><i class=" fa fa-spinner fa-pulse fa-3\ fa-fw"></i></a>
            </li>
        </ul>
        <hr class="style14"/>
        <h4 class="text-left">
            <div class="row">
                <div class="col-md-12 col-lg-3 mx-auto">
                    <div class="row justify-content-center">
                        <p>>Resume&#60;</p>
                    </div>
                    <div class="col-md-12 co">
                        <dl>
                            <dt style="margin-bottom: 10px">Education</dt>
                            <dd>&#62;&emsp;中南大学</dd>
                            <dd>&#62;&emsp;本&emsp;&emsp;科</dd>
                        </dl>
                        <hr class="style14"/>
                        <dl>
                            <dt style="margin-bottom: 10px">Address</dt>
                            <dd>&#62;&emsp;广&emsp;&emsp;州</dd>
                        </dl>
                        <hr class="style14"/>
                        <dl>
                            <dt style="margin-bottom: 10px">Contact</dt>
                            <dd>&#62;<a class="fa fa-github" href="https://github.com/leemysw">Github</a></dd>
                            <dd>&#62;<a class="fa fa-envelope" href="mailto:leemysw@gmail.com">Email</a></dd>
                        </dl>
                    </div>
                </div>

                <div class="col-md-12 col-lg-9 mx-auto">
                    <div class="row justify-content-center">
                        <p>>Technology stack&#60;</p>
                    </div>
                    <div class="col-md-12 co">

                        <dl>
                            <dd>&#62;&emsp;Python</dd>
                        </dl>

                        <code>后端开发:['Django', 'RESTful API', 'uWSGI', 'NGINX', ] </code>
                        <br>

                        <code>数据处理:['Pandas', 'Numpy', 'Matplotlib', ]</code>
                        <br>

                        <code>爬虫:['Scrapy', 'Urllib', 'Beautiful Soup', 'Re', ]</code>
                        <br>

                        <code>Intnet客户端编程</code><br>
                        <code>多线程编程</code><br>
                        <code>网络编程</code><br>
                        <code>Learning:['TensorFlow', ]</code><br>


                        <dl style="margin-top: 20px">
                            <dd>&#62;&emsp;Database</dd>
                        </dl>
                        <code>['MySQL', 'Redis', ]</code>
                        <br>


                        <dl style="margin-top: 20px">
                            <dd>&#62;&emsp;Linux</dd>
                        </dl>
                        <code>略懂皮毛:['centos7', ]</code>
                        <br>

                        <dl style="margin-top: 20px">
                            <dd>&#62;&emsp;Front-end development</dd>
                        </dl>
                        <code>略知一二:['CSS / CSS3', 'Bootstrap', 'HTML / HTML5', ]</code>
                        <br>

                        <dl style="margin-top: 20px">
                            <dd>&#62;&emsp;Matlib</dd>
                        </dl>


                    </div>

                </div>
            </div>
        </h4>
    </div>
</div>


<footer class="sit-footer">

    <div class="monster">
        <span class="body"></span>
        <span class="eyes"></span>
    </div>

    <div class="footer-bar">
        <div class="outer-container">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-12 ">
                        {% get_pvuv as pvuv %}
                        <p class="footer-license"><a href="http://www.miitbeian.gov.cn/">粤ICP备18080956号</a>.Powered
                            by
                            Django.</p>
                        <p class="footer-license"><i class="fa fa-hand-pointer-o">{{ pvuv.pv }} </i> ━┳━　━┳━ <i
                                class="fa fa-user"> {{ pvuv.uv }}</i></p>
                    </div><!-- .col-xl-4 -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .outer-container -->
    </div><!-- .footer-bar -->
</footer><!-- .sit-footer -->

<script type='text/javascript' src="{% static 'blog/js/jquery.min.js' %}"></script>
<script type='text/javascript' src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<script type='text/javascript' src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>
<script type='text/javascript' src="{% static 'blog/js/prism_patched.min.js' %}"></script>
<script type='text/javascript' src="{% static 'blog/js/custom.js' %}"></script>

</body>
</html>

