{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>

<html lang="zh-hans">
<head>
    <title>leemysw</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/hr.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/prism.css' %}">

</head>
<body>

<div class="outer-container">
    <header class="site-header">
        <div class="top-header-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 flex align-items-center">
                        <div class="header-bar-text d-none d-lg-block">
                            <p>Hello world, My name is <a href="https://github.com/leemysw">leemysw</a></p>
                        </div><!-- .header-bar-text -->

                        <div class="header-bar-email d-none d-lg-block">
                            <a href="mailto:leemysw@gmail.com">leemysw@gmail.com</a>
                        </div><!-- .header-bar-email -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-6 flex justify-content-between justify-content-lg-end align-items-center">
                        <div class="header-bar-social d-none d-md-block">
                            <ul class="flex align-items-center">
                                <li><a href="https://github.com/leemysw"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="mailto:leemysw@gmail.com"><i class="fa fa-google"></i></a></li>
                            </ul>
                        </div><!-- .header-bar-social -->

                        <div class="header-bar-search d-none d-md-block">
                            <form action='{% url 'blog_search' %}' method="get" role="search" id="searchform"
                                  class="input-group">
                                {% csrf_token %}
                                <input name="q" type="search" placeholder="Search" class="form-control" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </span>
                            </form>
                        </div><!-- .header-bar-search -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .top-header-bar -->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-branding flex flex-column align-items-center">
                        <h1 class="site-title"><a href="/" rel="home">leemysw</a></h1>
                        <p class="site-description">Personal Blog</p>
                    </div><!-- .site-branding -->
                    <nav class="site-navigation">
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->

                        <ul class="flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
                            <li class="current-menu-item"><a href="/">Home</a></li>
                            <li><a href=" {% url 'blog_list' %} ">blog</a></li>
                            <li><a href="{% url 'about_me' %}">about me</a></li>
                            <li><a href="{% url 'about_me' %}">Contact</a></li>
                        </ul>

                        <div class="header-bar-social d-md-none">
                            <ul class="flex justify-content-center align-items-center">
                                <li><a href="https://github.com/leemysw"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="mailto:leemysw@gmail.com"><i class="fa fa-google"></i></a></li>
                            </ul>
                        </div><!-- .header-bar-social -->

                        <div class="header-bar-search d-md-none">
                            <form action='{% url 'blog_search' %}' method="get" role="search" id="searchform"
                                  class="input-group">
                                {% csrf_token %}
                                <input name="q" type="search" placeholder="Search" class="form-control" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </span>
                            </form>
                        </div><!-- .header-bar-search -->
                    </nav><!-- .site-navigation -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </header><!-- .site-header -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="swiper-container hero-slider">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img src="{% static 'blog/images/bg-1.jpg' %}" alt="First slide">
                                <div class="carousel-caption d-none d-lg-block">

                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'blog/images/bg-2.jpg' %}" alt="Second slide">
                                <div class="carousel-caption d-none d-lg-block">
                                    <h6>
                                        <a style="color: #bbdaff"
                                           href="https://unsplash.com/photos/jiqbWnkkgzI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">photo
                                            by: Daniel Sandoval on Unsplas</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .swiper-container -->
            </div><!-- .col -->
        </div><!-- .row -->


        <div class="container">
            <div class="row">
                <div class="offset-lg-9 col-12 col-lg-3">
                    <a href="#">
                        <div class="yt-subscribe">
                            <img src="{% static '/blog/images/me.png' %}" alt="Youtube Subscribe">
                            <h3>leemysw</h3>
                            <p>为无为，事无事</p>
                        </div><!-- .yt-subscribe -->
                    </a>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container 头像 -->
    </div><!-- .hero-section -->
    {% block main %}

    {% endblock main %}

</div><!-- .outer-container -->

<footer class="sit-footer">

    <div class="monster">
        <span class="body"></span>
        <span class="eyes"></span>
    </div>

    <div class="footer-bar">
        <div class="outer-container">
            <div class="container-fluid">
                <div class="row justify-content-between">

                    <div class="col-12 ">
                        {% get_pvuv as pvuv %}
                        <p class="footer-license"><a href="http://www.miitbeian.gov.cn/">粤ICP备18080956号</a>.Powered
                            by
                            Django.</p>
                        <p class="footer-license"><i class="fa fa-hand-pointer-o">{{ pvuv.pv }} </i> ━┳━　━┳━ <i
                                class="fa fa-user"> {{ pvuv.uv }}</i></p>
                    </div><!-- .col-xl-4 -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .outer-container -->
    </div><!-- .footer-bar -->
</footer><!-- .sit-footer -->

<script type='text/javascript' src="{% static 'blog/js/jquery.min.js' %}"></script>
<script type='text/javascript' src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<script type='text/javascript' src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>
<script type='text/javascript' src="{% static 'blog/js/prism_patched.min.js' %}"></script>
<script type='text/javascript' src="{% static 'blog/js/custom.js' %}"></script>
<script>
    $(function () {
        $('.pop').popover(
            {
                trigger: 'hover focus',
                toggle: "popover",
                placement: "bottom",
                {#title: "",#}
                delay: {"show": 100, "hide": 100},
                html: true,
            }
        )
    })


</script>
</body>
</html>