<!DOCTYPE html>
{% load staticfiles %}
{% load blog_tags %}
<html lang="en">
<head>
    <title>Hello World</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <style type="text/css">
                        {#页码跳转的显示样式#}
                        #page_goto span {
                            padding: 6px 4px;
                        }

                        #page_goto input {
                            border: none;
                            padding: 0;
                            width: 2em;
                            height: 2.5em;
                            text-align: center;
                        }
                    </style>

</head>
<body>
<div class="outer-container">
    <header class="site-header">
        <div class="top-header-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 flex align-items-center">
                        <div class="header-bar-text d-none d-lg-block">
                            <p>Hello world, My name is leemysw</p>
                        </div><!-- .header-bar-text -->

                        <div class="header-bar-email d-none d-lg-block">
                            <a href="#">leemysw@gmail.com</a>
                        </div><!-- .header-bar-email -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-6 flex justify-content-between justify-content-lg-end align-items-center">
                        <div class="header-bar-social d-none d-md-block">
                            <ul class="flex align-items-center">
                                {#                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                {#                                <li><a href="#"><i class="fa fa-behance"></i></a></li>#}
                                {#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                            </ul>
                        </div><!-- .header-bar-social -->

                        <div class="header-bar-search d-none d-md-block">
                            <form>
                                <input type="search" placeholder="Search">
                            </form>
                        </div><!-- .header-bar-search -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .top-header-bar -->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-branding flex flex-column align-items-center">
                        <h1 class="site-title"><a href="/" rel="home">leemysw</a></h1>
                        <p class="site-description">Personal Blog</p>
                    </div><!-- .site-branding -->
                    <nav class="site-navigation">
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                        <ul class="flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
                            <li class="current-menu-item"><a href="/">Home</a></li>
                            {#                            <li><a href="#">features</a></li>#}
                            {#                            <li><a href="#">Portfolio</a></li>#}
                            <li><a href=" / ">blog</a></li>
                            <li><a href="#">about me</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <div class="header-bar-social d-md-none">
                            <ul class="flex justify-content-center align-items-center">
                                {#                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                {#                                <li><a href="#"><i class="fa fa-behance"></i></a></li>#}
                                {#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                            </ul>
                        </div><!-- .header-bar-social -->
                        <div class="header-bar-search d-md-none">
                            <form>
                                <input type="search" placeholder="Search">
                            </form>
                        </div><!-- .header-bar-search -->
                    </nav><!-- .site-navigation -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </header><!-- .site-header -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
                <div class="swiper-container hero-slider">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="hero-content flex justify-content-center align-items-center flex-column">
                                <img src="{% static 'blog/images/slider.jpg' %}" alt="">
                            </div><!-- .hero-content -->
                        </div><!-- .swiper-slide -->

                        {#                        <div class="swiper-slide">#}
                        {#                            <div class="hero-content flex justify-content-center align-items-center flex-column">#}
                        {#                                <img src="images/slider.jpg" alt="">#}
                        {#                            </div><!-- .hero-content -->#}
                        {#                        </div><!-- .swiper-slide -->#}
                        {##}
                        {#                        <div class="swiper-slide">#}
                        {#                            <div class="hero-content flex justify-content-center align-items-center flex-column">#}
                        {#                                <img src="images/slider.jpg" alt="">#}
                        {#                            </div><!-- .hero-content -->#}
                        {#                        </div><!-- .swiper-slide -->#}
                    </div><!-- .swiper-wrapper -->

                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- Add Arrows -->
                    <div class="swiper-button-next flex justify-content-center align-items-center">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path
                                d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></path></svg></span>
                    </div>
                    <div class="swiper-button-prev flex justify-content-center align-items-center">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path
                                d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></path></svg></span>
                    </div>
                </div><!-- .swiper-container -->
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="container">
            <div class="row">
                <div class="offset-lg-9 col-12 col-lg-3">
                    <a href="#">
                        <div class="yt-subscribe">
                            <img src="{% static '/blog/images/me.png' %}" alt="Youtube Subscribe">
                            <h3>leemysw</h3>
                            <p>hello</p>
                        </div><!-- .yt-subscribe -->
                    </a>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container 头像 -->
    </div><!-- .hero-section -->

    <div class="container single-page">
        <div class="row">
            <div class="col-12 col-lg-9">
                {% for blog in blog_list %}
                    <div class="content-wrap">
                        <header class="entry-header">
                            <div class="posted-date">
                                {{ blog.create_time|date:'m d , y' }}
                            </div><!-- .posted-date -->

                            <h2 class="entry-title"><a href=""></a>{{ blog.title }}</h2>
                            <div class="tags-links">
                                {% for tag in blog.tag.all %}
                                    <a href="#">#{{ tag }}</a>
                                {% endfor %}
                            </div><!-- .tags-links -->
                        </header><!-- .entry-header -->

                        <figure class="featured-image">
                            <img src="{% static 'blog/images/1.jpg' %}" alt="">
                        </figure><!-- .featured-image -->

                        <div class="entry-content">
                            <p>{{ blog.excerpt|safeseq }}</p>
                        </div><!-- .entry-content -->

                        <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
{#                            <ul class="post-share flex align-items-center order-3 order-lg-1">#}
{#                                <label>Share</label>#}
                                {#                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
                                {#                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-google"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                            </ul><!-- .post-share -->#}

                            <a class="read-more order-2" href="{{ blog.get_detail_url }}">Read more</a>
{#                            <div class="comments-count order-1 order-lg-3">#}
{#                                <a  href="#">0 comments</a>#}
{#                            </div><!-- .comments-count -->#}
                        </footer><!-- .entry-footer -->
                    </div><!-- .content-wrap -->
                {% endfor %}
                <div class="pagination">
                        <ul class="pagination">
                            {#上一页#}
                            <li class="pager-prev ">
                                <a href="?page=
                                 {% if blogs.has_previous %}
                                    {{ blogs.previous_page_number }}
                                 {% else %}
                                    {{ blogs.number }}
                                 {% endif %}
                                 " aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% for page in pages.page_range_ex %}
                                {% if page == '...' %}
                                    <li><span>...</span></li>
                                {% else %}
                                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {# 下一页 #}
                            <li class="pager-next ">
                                <a href="?page=
                                   {% if blogs.has_next %}
                                        {{ blogs.next_page_number }}
                                   {% else %}
                                        {{ blogs.number }}
                                   {% endif %}
                                    " aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {# 页面跳转#}
                            <li id="page_goto">
                                     <span>
                                          <input type="text" value="{{ paginator.page_goto }}"/>
                                     </span>
                            </li>
                            <li><a href="javascript:void(0);" onClick="page_go()">Go</a></li>
                        </ul>
                </div>
            </div><!-- .col -->


            <div class="col-12 col-lg-3">
                <div class="sidebar">
                    <div class="about-me">
                        <h2>I’m leemysw</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis,
                            volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet
                            neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque in porttitor
                            magna.</p>
                    </div><!-- .about-me -->
                    <div class="tags-list">
                        {% get_categories as category_list %}
                        {% for category in category_list %}
                            <a href="{% url 'blog_category' category.id %}">{{ category }}</a>
                        {% endfor %}
                    </div>
                    <div class="tags-list">
                        {% for tag in tag_list %}
                            <a href="{% url 'blog_tags' tag.id %}">{{ tag }}</a>
                        {% endfor %}
                    </div><!-- .tags-list -->
                    {% get_recent_blogs as recent_blog_list %}
                    {% for blog in recent_blog_list %}
                        <div class="recent-posts">
                            <div class="recent-post-wrap">
                                <figure>
                                    <img src="{% static 'blog/images/blog-image.jpg' %}" alt="">
                                </figure>
                                <header class="entry-header">
                                    <div class="posted-date">
                                        {{ blog.create_time|date:'m d , y' }}
                                    </div><!-- .entry-header -->
                                    <h3><a href="{{ blog.get_detail_url }}">{{ blog.title }}</a></h3>
                                    <div class="tags-links">
                                        {% for tag in blog.tag.all %}
                                            <a href="#">#{{ tag }}</a>
                                        {% endfor %}
                                    </div><!-- .tags-links -->
                                </header><!-- .entry-header -->
                            </div><!-- .recent-post-wrap -->
                        </div><!-- .recent-posts -->
                    {% endfor %}
{#                    <div class="sidebar-ads">#}
{#                        <img src="{% static 'blog/images/ads.jpg' %}" alt="ads">#}
{#                    </div>#}
                </div><!-- .sidebar -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .outer-container -->

<footer class="sit-footer">
{#    <div class="outer-container">#}
{#        <div class="container-fluid">#}
{#            <div class="row footer-recent-posts">#}
{#                <div class="col-12 col-md-6 col-xl-3">#}
{#                    <div class="footer-post-wrap flex justify-content-between">#}
{#                        <figure>#}
{#                            <a href="#"><img src="{% static 'blog/images/foot-1.jpg' %}" alt=""></a>#}
{#                        </figure>#}
{##}
{#                        <div class="footer-post-cont flex flex-column justify-content-between">#}
{#                            <header class="entry-header">#}
{#                                <div class="posted-date">#}
{#                                    January 30, 2018#}
{#                                </div><!-- .entry-header -->#}
{##}
{#                                <h3><a href="#">My fall in love story</a></h3>#}
{##}
{#                                <div class="tags-links">#}
{#                                    <a href="#">#winter</a>#}
{#                                    <a href="#">#love</a>#}
{#                                    <a href="#">#snow</a>#}
{#                                    <a href="#">#january</a>#}
{#                                </div><!-- .tags-links -->#}
{#                            </header><!-- .entry-header -->#}
{##}
{#                            <footer class="entry-footer">#}
{#                                <a class="read-more" href="#">read more</a>#}
{#                            </footer><!-- .entry-footer -->#}
{#                        </div><!-- .footer-post-cont -->#}
{#                    </div><!-- .footer-post-wrap -->#}
{#                </div><!-- .col -->#}
{##}
{#                <div class="col-12 col-md-6 col-xl-3">#}
{#                    <div class="footer-post-wrap flex justify-content-between">#}
{#                        <figure>#}
{#                            <a href="#"><img src="images/foot-2.jpg" alt=""></a>#}
{#                        </figure>#}
{##}
{#                        <div class="footer-post-cont flex flex-column justify-content-between">#}
{#                            <header class="entry-header">#}
{#                                <div class="posted-date">#}
{#                                    January 30, 2018#}
{#                                </div><!-- .entry-header -->#}
{##}
{#                                <h3><a href="#">Man’s best friend</a></h3>#}
{##}
{#                                <div class="tags-links">#}
{#                                    <a href="#">#winter</a>#}
{#                                    <a href="#">#love</a>#}
{#                                    <a href="#">#snow</a>#}
{#                                    <a href="#">#january</a>#}
{#                                </div><!-- .tags-links -->#}
{#                            </header><!-- .entry-header -->#}
{##}
{#                            <footer class="entry-footer">#}
{#                                <a class="read-more" href="#">read more</a>#}
{#                            </footer><!-- .entry-footer -->#}
{#                        </div><!-- .footer-post-cont -->#}
{#                    </div><!-- .footer-post-wrap -->#}
{#                </div><!-- .col -->#}
{##}
{#                <div class="col-12 col-md-6 col-xl-3">#}
{#                    <div class="footer-post-wrap flex justify-content-between">#}
{#                        <figure>#}
{#                            <a href="#"><img src="images/foot-3.jpg" alt=""></a>#}
{#                        </figure>#}
{##}
{#                        <div class="footer-post-cont flex flex-column justify-content-between">#}
{#                            <header class="entry-header">#}
{#                                <div class="posted-date">#}
{#                                    January 30, 2018#}
{#                                </div><!-- .entry-header -->#}
{##}
{#                                <h3><a href="#">Writing on a budget</a></h3>#}
{##}
{#                                <div class="tags-links">#}
{#                                    <a href="#">#winter</a>#}
{#                                    <a href="#">#love</a>#}
{#                                    <a href="#">#snow</a>#}
{#                                    <a href="#">#january</a>#}
{#                                </div><!-- .tags-links -->#}
{#                            </header><!-- .entry-header -->#}
{##}
{#                            <footer class="entry-footer">#}
{#                                <a class="read-more" href="#">read more</a>#}
{#                            </footer><!-- .entry-footer -->#}
{#                        </div><!-- .footer-post-cont -->#}
{#                    </div><!-- .footer-post-wrap -->#}
{#                </div><!-- .col -->#}
{##}
{#                <div class="col-12 col-md-6 col-xl-3">#}
{#                    <div class="footer-post-wrap flex justify-content-between">#}
{#                        <figure>#}
{#                            <a href="#"><img src="images/foot-4.jpg" alt=""></a>#}
{#                        </figure>#}
{##}
{#                        <div class="footer-post-cont flex flex-column justify-content-between">#}
{#                            <header class="entry-header">#}
{#                                <div class="posted-date">#}
{#                                    January 30, 2018#}
{#                                </div><!-- .entry-header -->#}
{##}
{#                                <h3><a href="#">My fall in love story</a></h3>#}
{##}
{#                                <div class="tags-links">#}
{#                                    <a href="#">#winter</a>#}
{#                                    <a href="#">#love</a>#}
{#                                    <a href="#">#snow</a>#}
{#                                    <a href="#">#january</a>#}
{#                                </div><!-- .tags-links -->#}
{#                            </header><!-- .entry-header -->#}
{##}
{#                            <footer class="entry-footer">#}
{#                                <a class="read-more" href="#">read more</a>#}
{#                            </footer><!-- .entry-footer -->#}
{#                        </div><!-- .footer-post-cont -->#}
{#                    </div><!-- .footer-post-wrap -->#}
{#                </div><!-- .col -->#}
{#            </div><!-- .row -->#}
{#        </div><!-- .container-fluid -->#}
{#    </div><!-- .outer-container -->#}

{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <div class="footer-instagram flex flex-wrap flex-lg-nowrap">#}
{#                <figure>#}
{#                    <a href="#"><img src="images/a.jpg" alt=""></a>#}
{#                </figure>#}
{##}
{#                <figure>#}
{#                    <a href="#"><img src="images/b.jpg" alt=""></a>#}
{#                </figure>#}
{##}
{#                <figure>#}
{#                    <a href="#"><img src="images/c.jpg" alt=""></a>#}
{#                </figure>#}
{##}
{#                <figure>#}
{#                    <a href="#"><img src="images/d.jpg" alt=""></a>#}
{#                </figure>#}
{##}
{#                <figure>#}
{#                    <a href="#"><img src="images/e.jpg" alt=""></a>#}
{#                </figure>#}
{##}
{#                <figure>#}
{#                    <a href="#"><img src="images/f.jpg" alt=""></a>#}
{#                </figure>#}
{##}
{#                <figure>#}
{#                    <a href="#"><img src="images/g.jpg" alt=""></a>#}
{#                </figure>#}
{#            </div>#}
{#        </div><!-- .row -->#}
{#    </div><!-- .container -->#}

    <div class="footer-bar">
        <div class="outer-container">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6">
                        <div class="footer-copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                    aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a></p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div><!-- .footer-copyright -->
                    </div><!-- .col-xl-4 -->

{#                    <div class="col-12 col-md-6">#}
{#                        <div class="footer-social">#}
{#                            <ul class="flex justify-content-center justify-content-md-end align-items-center">#}
{#                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-behance"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
{#                        </div><!-- .footer-social -->#}
{#                    </div><!-- .col-xl-4 -->#}
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .outer-container -->
    </div><!-- .footer-bar -->
</footer><!-- .sit-footer -->

<script type='text/javascript' src='{% static 'blog/js/jquery.js' %}'></script>
<script type='text/javascript' src='{% static 'blog/js/swiper.min.js' %}'></script>
<script type='text/javascript' src='{% static 'blog/js/custom.js' %}'></script>
<script type='text/javascript' src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
<script type="text/javascript">
    function page_go() {
        var page = $("#page_goto input")[0].value;
        window.location.href = '?page=' + page;  //重定向
        return false;
    }
</script>

</body>
</html>