{% extends "blog/base.html" %}
{% load staticfiles %}
{% load blog_tags %}




{% block web_name %}
    About Me
{% endblock web_name %}
{% block content %}
        <h4 class="text-left">
            <div class="row">
                <div class="col-md-12 col-lg-3 mx-auto">
                    <div class="row justify-content-center">
                        <p>>Resume&#60;</p>
                    </div>
                    <div class="col-md-12 co">
                        <dl>
                            <dt style="margin-bottom: 10px">Education</dt>
                            <dd>&#62;&emsp;中南大学</dd>
                            <dd>&#62;&emsp;本&emsp;&emsp;科</dd>
                        </dl>
                        <hr class="style14"/>
                        <dl>
                            <dt style="margin-bottom: 10px">Address</dt>
                            <dd>&#62;&emsp;广&emsp;&emsp;州</dd>
                        </dl>
                        <hr class="style14"/>
                        <dl>
                            <dt style="margin-bottom: 10px">Contact</dt>
                            <dd>&#62;<a class="fa fa-github" href="https://github.com/leemysw">Github</a></dd>
                            <dd>&#62;<a class="fa fa-envelope" href="mailto:leemysw@gmail.com">Email</a></dd>
                        </dl>
                    </div>
                </div>

                <div class="col-md-12 col-lg-9 mx-auto">
                    <div class="row justify-content-center">
                        <p>>Technology stack&#60;</p>
                    </div>
                    <div class="col-md-12 co">

                        <dl>
                            <dd>&#62;&emsp;Python</dd>
                        </dl>

                        <code>后端开发:['Django', 'RESTful API', 'uWSGI', 'NGINX', ] </code>
                        <br>

                        <code>数据处理:['Pandas', 'Numpy', 'Matplotlib', ]</code>
                        <br>

                        <code>爬虫:['Scrapy', 'Urllib', 'Beautiful Soup', 'Re', ]</code>
                        <br>

                        <code>Intnet客户端编程</code><br>
                        <code>多线程编程</code><br>
                        <code>网络编程</code><br>
                        <code>Learning:['TensorFlow', ]</code><br>


                        <dl style="margin-top: 20px">
                            <dd>&#62;&emsp;Database</dd>
                        </dl>
                        <code>['MySQL', 'Redis', ]</code>
                        <br>


                        <dl style="margin-top: 20px">
                            <dd>&#62;&emsp;Linux</dd>
                        </dl>
                        <code>略懂皮毛:['centos7', ]</code>
                        <br>

                        <dl style="margin-top: 20px">
                            <dd>&#62;&emsp;Front-end development</dd>
                        </dl>
                        <code>略知一二:['CSS / CSS3', 'Bootstrap', 'HTML / HTML5', ]</code>
                        <br>

                        <dl style="margin-top: 20px">
                            <dd>&#62;&emsp;Matlib</dd>
                        </dl>


                    </div>

                </div>
            </div>
        </h4>

{% endblock content %}




