{% extends "blog/base.html" %}
{% load staticfiles %}
{% load blog_tags %}




{% block web_name %}
    Blog
{% endblock web_name %}
{% block content %}

        <div class="row ">
            <div class="col-md-12 col-lg-8 mx-auto co blog">
                {% for blog in blogs %}
                    <p class="blog-list lead text-justify"><a href="{{ blog.get_detail_url }}"> {{ blog.title }}</a></p>
                    <div class="category"><p><i class="fa fa-calendar">&nbsp;</i>{{ blog.create_time|date:'b d , y' }}&nbsp;&nbsp;&nbsp;<i
                            class="fa fa-tag">&nbsp;</i> {{ blog.category }}</p></div>
                {% endfor %}
            </div>
            <div class="col-md-12 col-lg-4 mx-auto co d-none d-lg-block side">
                <div><a href="/api"><i class="fa fa-connectdevelop fa-spin fa-3x fa-fw " style="color: red"></i></a>
                    <p> &emsp;
                        為無為 &emsp;&emsp;&emsp;&emsp;&emsp;
                        &emsp;&emsp;
                        事無事 &emsp;&emsp;&emsp;&emsp;
                        &emsp;&emsp;&emsp;
                        味無味</p>
                </div>
            </div>
        </div>
        <div class="pagination">
            <ul class="pagination">
                <li class="pager-prev ">
                    <a href="?page=
                                 {% if blogs.has_previous %}
                                    {{ blogs.previous_page_number }}
                                 {% else %}
                                    {{ blogs.number }}
                                 {% endif %}
                                 " aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in pages.page_range_ex %}
                    {% if page == '...' %}
                        <li><span>...</span></li>
                    {% else %}
                        <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                <li class="pager-next ">
                    <a href="?page=
                                   {% if blogs.has_next %}
                                        {{ blogs.next_page_number }}
                                   {% else %}
                                        {{ blogs.number }}
                                   {% endif %}
                                    " aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li id="page_goto">
                    <label>
                        <input type="text" value="{{ pages.page_go }}"/>
                    </label>
                </li>
                <script type="text/javascript">
                    function page_go() {
                        var page = $("#page_goto input")[0].value;
                        window.location.href = '?page=' + page;
                        return false;
                    }
                </script>
                <li><a href="javascript:void(0);" onClick="page_go()">Go</a></li>
            </ul>
        </div>
{% endblock content %}