.form-login {
    padding: 20px;
    margin-top: 10px;

}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login label {
    font-family: 方正舒体, sans-serif;
    margin-bottom: 10px;
    padding-bottom: 2px;
    font-size: 20px;
}

.form-login input {
    padding-bottom: 5px;
    margin-bottom: 12px;
}

.form-login select {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.captcha_css img {
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 4px;
}

.captcha_css input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.head {
    font-family: 方正舒体, sans-serif;
    margin-bottom: 20px;
    font-size: 40px;
}
